USE [master]
GO
/****** Object:  Database [FaJuanDb]    Script Date: 05/07/2026 11:05:04 ******/
CREATE DATABASE [FaJuanDb] ON  PRIMARY 
( NAME = N'FaJuanDb', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\FaJuanDb.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FaJuanDb_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\FaJuanDb_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FaJuanDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FaJuanDb]
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MiniOpenId] [nvarchar](64) NOT NULL,
	[UnionId] [nvarchar](64) NULL,
	[OfficialOpenId] [nvarchar](64) NULL,
	[Mobile] [nvarchar](20) NULL,
	[Nickname] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AppUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_AppUser_MiniOpenId] ON [dbo].[AppUser] 
(
	[MiniOpenId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_AppUser_Mobile] ON [dbo].[AppUser] 
(
	[Mobile] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminUserRole]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUserRole](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AdminUserId] [bigint] NOT NULL,
	[AdminRoleId] [bigint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminUserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_AdminUserRole_AdminUserId_AdminRoleId] ON [dbo].[AdminUserRole] 
(
	[AdminUserId] ASC,
	[AdminRoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminUser]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUser](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](128) NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_AdminUser_Username] ON [dbo].[AdminUser] 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminRolePermission]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminRolePermission](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AdminRoleId] [bigint] NOT NULL,
	[AdminPermissionId] [bigint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminRolePermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_AdminRolePermission_AdminRoleId_AdminPermissionId] ON [dbo].[AdminRolePermission] 
(
	[AdminRoleId] ASC,
	[AdminPermissionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminRoleMenu]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminRoleMenu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AdminRoleId] [bigint] NOT NULL,
	[AdminMenuId] [bigint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminRoleMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_AdminRoleMenu_AdminRoleId_AdminMenuId] ON [dbo].[AdminRoleMenu] 
(
	[AdminRoleId] ASC,
	[AdminMenuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminRole]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminRole](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_AdminRole_Code] ON [dbo].[AdminRole] 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminPermission]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminPermission](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[MenuPath] [nvarchar](100) NOT NULL,
	[Sort] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_AdminPermission_Code] ON [dbo].[AdminPermission] 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminMenu]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminMenu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentId] [bigint] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Path] [nvarchar](100) NOT NULL,
	[Component] [nvarchar](100) NOT NULL,
	[Sort] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeChatPaySetting]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeChatPaySetting](
	[Id] [int] NOT NULL,
	[AppId] [nvarchar](64) NOT NULL,
	[MerchantId] [nvarchar](32) NOT NULL,
	[MerchantSerialNo] [nvarchar](128) NOT NULL,
	[PrivateKeyPem] [nvarchar](max) NOT NULL,
	[ApiV3Key] [nvarchar](128) NOT NULL,
	[NotifyUrl] [nvarchar](512) NOT NULL,
	[EnableMockFallback] [bit] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_WeChatPaySetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCoupon]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCoupon](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AppUserId] [bigint] NOT NULL,
	[CouponTemplateId] [bigint] NOT NULL,
	[CouponOrderId] [bigint] NULL,
	[CouponCode] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[ReceivedAt] [datetime] NOT NULL,
	[EffectiveAt] [datetime] NOT NULL,
	[ExpireAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[FulfillmentStatus] [int] NOT NULL,
	[BoundErpProductCode] [nvarchar](max) NULL,
	[BoundProductId] [bigint] NULL,
	[BoundProductName] [nvarchar](max) NULL,
	[SourceType] [int] NOT NULL,
 CONSTRAINT [PK_UserCoupon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserCoupon_AppUserId] ON [dbo].[UserCoupon] 
(
	[AppUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserCoupon_CouponCode] ON [dbo].[UserCoupon] 
(
	[CouponCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserCoupon_CouponOrderId] ON [dbo].[UserCoupon] 
(
	[CouponOrderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserCoupon_CouponTemplateId] ON [dbo].[UserCoupon] 
(
	[CouponTemplateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Store_Code] ON [dbo].[Store] 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ErpProductCode] [nvarchar](64) NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[MainImageAssetId] [bigint] NULL,
	[DetailImageAssetIds] [nvarchar](max) NULL,
	[ErpOriginalPrice] [decimal](18, 2) NULL,
	[StockQuantity] [int] NULL,
	[DirectPurchaseCouponTemplateId] [bigint] NULL,
	[DirectPurchaseValidDays] [int] NULL,
	[DirectPurchaseValidFrom] [datetime] NULL,
	[DirectPurchaseValidPeriodType] [int] NULL,
	[DirectPurchaseValidTo] [datetime] NULL,
	[ErpIsbnCode] [nvarchar](64) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Product_ErpProductCode] ON [dbo].[Product] 
(
	[ErpProductCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransaction]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransaction](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CouponOrderId] [bigint] NOT NULL,
	[PaymentNo] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[ChannelTradeNo] [nvarchar](64) NULL,
	[RawCallback] [nvarchar](max) NULL,
	[PaidAt] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PaymentTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PaymentTransaction_CouponOrderId] ON [dbo].[PaymentTransaction] 
(
	[CouponOrderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_PaymentTransaction_PaymentNo] ON [dbo].[PaymentTransaction] 
(
	[PaymentNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MiniAppShareEvent]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiniAppShareEvent](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EventKey] [nvarchar](100) NOT NULL,
	[EventType] [nvarchar](16) NOT NULL,
	[ShareId] [nvarchar](40) NOT NULL,
	[FromUserId] [bigint] NULL,
	[OpenUserId] [bigint] NULL,
	[VisitorKey] [nvarchar](64) NULL,
	[TargetType] [nvarchar](16) NOT NULL,
	[TargetKey] [nvarchar](64) NOT NULL,
	[TargetId] [bigint] NULL,
	[PagePath] [nvarchar](128) NOT NULL,
	[Scene] [nvarchar](32) NULL,
	[QueryJson] [nvarchar](1000) NULL,
	[ClientTime] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Ip] [nvarchar](64) NULL,
	[UserAgent] [nvarchar](256) NULL,
 CONSTRAINT [PK_MiniAppShareEvent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_MiniAppShareEvent_EventKey] ON [dbo].[MiniAppShareEvent] 
(
	[EventKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MiniAppShareEvent_EventType_CreatedAt] ON [dbo].[MiniAppShareEvent] 
(
	[EventType] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MiniAppShareEvent_FromUserId_CreatedAt] ON [dbo].[MiniAppShareEvent] 
(
	[FromUserId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MiniAppShareEvent_OpenUserId_CreatedAt] ON [dbo].[MiniAppShareEvent] 
(
	[OpenUserId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MiniAppShareEvent_ShareId] ON [dbo].[MiniAppShareEvent] 
(
	[ShareId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MiniAppShareEvent_TargetType_TargetKey_CreatedAt] ON [dbo].[MiniAppShareEvent] 
(
	[TargetType] ASC,
	[TargetKey] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaAsset]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaAsset](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FileUrl] [nvarchar](500) NOT NULL,
	[MediaType] [nvarchar](20) NOT NULL,
	[BucketType] [nvarchar](20) NOT NULL,
	[Tags] [nvarchar](500) NULL,
	[Sort] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_MediaAsset] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MediaAsset_BucketType_IsEnabled_Sort_Id] ON [dbo].[MediaAsset] 
(
	[BucketType] ASC,
	[IsEnabled] ASC,
	[Sort] ASC,
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponWriteOffRecord]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponWriteOffRecord](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserCouponId] [bigint] NOT NULL,
	[CouponCode] [nvarchar](50) NOT NULL,
	[StoreId] [bigint] NOT NULL,
	[OperatorName] [nvarchar](50) NULL,
	[DeviceCode] [nvarchar](50) NULL,
	[WriteOffAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ProductId] [bigint] NULL,
 CONSTRAINT [PK_CouponWriteOffRecord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CouponWriteOffRecord_UserCouponId] ON [dbo].[CouponWriteOffRecord] 
(
	[UserCouponId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponTemplateStoreScope]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponTemplateStoreScope](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CouponTemplateId] [bigint] NOT NULL,
	[StoreId] [bigint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_CouponTemplateStoreScope] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_CouponTemplateStoreScope_CouponTemplateId_StoreId] ON [dbo].[CouponTemplateStoreScope] 
(
	[CouponTemplateId] ASC,
	[StoreId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponTemplateProductScope]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponTemplateProductScope](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CouponTemplateId] [bigint] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_CouponTemplateProductScope] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_CouponTemplateProductScope_CouponTemplateId_ProductId] ON [dbo].[CouponTemplateProductScope] 
(
	[CouponTemplateId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponTemplate]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponTemplate](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TemplateType] [int] NOT NULL,
	[ValidPeriodType] [int] NOT NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[ThresholdAmount] [decimal](18, 2) NULL,
	[ValidDays] [int] NULL,
	[ValidFrom] [datetime] NULL,
	[ValidTo] [datetime] NULL,
	[IsNewUserOnly] [bit] NOT NULL,
	[IsAllStores] [bit] NOT NULL,
	[PerUserLimit] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ImageAssetId] [bigint] NULL,
	[DistributionMode] [int] NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[IsSystemProductVoucher] [bit] NOT NULL,
 CONSTRAINT [PK_CouponTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponPackItem]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponPackItem](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CouponPackId] [bigint] NOT NULL,
	[CouponTemplateId] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_CouponPackItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CouponPackItem_CouponPackId_CouponTemplateId] ON [dbo].[CouponPackItem] 
(
	[CouponPackId] ASC,
	[CouponTemplateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponPack]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponPack](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[SaleStartTime] [datetime] NULL,
	[SaleEndTime] [datetime] NULL,
	[PerUserLimit] [int] NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ImageAssetId] [bigint] NULL,
 CONSTRAINT [PK_CouponPack] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponOrder]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponOrder](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](50) NOT NULL,
	[AppUserId] [bigint] NOT NULL,
	[CouponPackId] [bigint] NULL,
	[OrderAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[PaidAt] [datetime] NULL,
	[PaymentNo] [nvarchar](64) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CouponTemplateId] [bigint] NULL,
	[ProductId] [bigint] NULL,
	[ProductNameSnapshot] [nvarchar](max) NULL,
	[ProductErpProductCodeSnapshot] [nvarchar](max) NULL,
	[SourceType] [int] NOT NULL,
 CONSTRAINT [PK_CouponOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CouponOrder_AppUserId_CouponPackId] ON [dbo].[CouponOrder] 
(
	[AppUserId] ASC,
	[CouponPackId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_CouponOrder_OrderNo] ON [dbo].[CouponOrder] 
(
	[OrderNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 05/07/2026 11:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ImageAssetId] [bigint] NOT NULL,
	[LinkUrl] [nvarchar](500) NULL,
	[Sort] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Banner_IsEnabled_Sort_Id] ON [dbo].[Banner] 
(
	[IsEnabled] ASC,
	[Sort] ASC,
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Default [DF_AdminRolePermission_CreatedAt]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[AdminRolePermission] ADD  CONSTRAINT [DF_AdminRolePermission_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  Default [DF_AdminPermission_IsEnabled]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[AdminPermission] ADD  CONSTRAINT [DF_AdminPermission_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
/****** Object:  Default [DF_AdminPermission_CreatedAt]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[AdminPermission] ADD  CONSTRAINT [DF_AdminPermission_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  Default [DF__UserCoupo__Fulfi__37A5467C]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[UserCoupon] ADD  DEFAULT ((0)) FOR [FulfillmentStatus]
GO
/****** Object:  Default [DF_UserCoupon_SourceType]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[UserCoupon] ADD  CONSTRAINT [DF_UserCoupon_SourceType]  DEFAULT ((2)) FOR [SourceType]
GO
/****** Object:  Default [DF_MediaAsset_MediaType]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[MediaAsset] ADD  CONSTRAINT [DF_MediaAsset_MediaType]  DEFAULT (N'image') FOR [MediaType]
GO
/****** Object:  Default [DF_MediaAsset_Sort]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[MediaAsset] ADD  CONSTRAINT [DF_MediaAsset_Sort]  DEFAULT ((0)) FOR [Sort]
GO
/****** Object:  Default [DF_MediaAsset_IsEnabled]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[MediaAsset] ADD  CONSTRAINT [DF_MediaAsset_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
/****** Object:  Default [DF_MediaAsset_CreatedAt]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[MediaAsset] ADD  CONSTRAINT [DF_MediaAsset_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  Default [DF__CouponTem__Distr__36B12243]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[CouponTemplate] ADD  DEFAULT ((0)) FOR [DistributionMode]
GO
/****** Object:  Default [DF_CouponTemplate_IsSystemProductVoucher]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[CouponTemplate] ADD  CONSTRAINT [DF_CouponTemplate_IsSystemProductVoucher]  DEFAULT ((0)) FOR [IsSystemProductVoucher]
GO
/****** Object:  Default [DF_CouponOrder_SourceType]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[CouponOrder] ADD  CONSTRAINT [DF_CouponOrder_SourceType]  DEFAULT ((2)) FOR [SourceType]
GO
/****** Object:  Default [DF_Banner_Sort]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[Banner] ADD  CONSTRAINT [DF_Banner_Sort]  DEFAULT ((0)) FOR [Sort]
GO
/****** Object:  Default [DF_Banner_IsEnabled]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[Banner] ADD  CONSTRAINT [DF_Banner_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
/****** Object:  Default [DF_Banner_CreatedAt]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[Banner] ADD  CONSTRAINT [DF_Banner_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  ForeignKey [FK_Banner_MediaAsset_ImageAssetId]    Script Date: 05/07/2026 11:05:05 ******/
ALTER TABLE [dbo].[Banner]  WITH CHECK ADD  CONSTRAINT [FK_Banner_MediaAsset_ImageAssetId] FOREIGN KEY([ImageAssetId])
REFERENCES [dbo].[MediaAsset] ([Id])
GO
ALTER TABLE [dbo].[Banner] CHECK CONSTRAINT [FK_Banner_MediaAsset_ImageAssetId]
GO
